nav {
  background-color: rgb(109, 0, 0);
}
.con {
  color: rgb(255, 255, 255);
}
#gopal {
  margin-top: 30px;
  margin-bottom: 0px;
  z-index: 12;
  position: fixed;
  bottom: 0;
}
.item-plate {
  height: 70%;
  width: 90%;
  margin: auto;
  /* min-width: 200px; */
}
.title {
  padding: 0 0px;
  margin: 0 0px;
  color: rgb(31, 31, 31);
  line-height: 30px;
}
.price {
  padding: 0 0;
  margin: -30px -40px;
  color: rgb(215, 0, 0);
  font-family: "Lato", sans-serif;
}
